.footer{
  background: $home;
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  &__text{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
  }
}
