img{
    object-fit: cover;
}
button,.btn,.btn-1,.btn-2,.btn-search{
    outline: none;
    box-shadow: none;
    &:hover,&:focus,&:active{
        outline: none;
        box-shadow: none;
    }
}

.full-page-des{
    @media (min-width: 991px) {
        height: 100vh;
        overflow: hidden;
    }
}

.yellow {
    color: $yellow;
}

.text-spec {
    color: $primary;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $primary;
    word-break: break-word;
}

.btn-1 {
    padding: 0 30px;
    height: 48px;
    line-height: 48px;
    margin: 0;
    border: 1px solid $primary;
    color: $primary;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
        color: $yellow;
        background: $primary;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-left{
    width: 32px;
    height: 32px;
    background-image: url("../img/icon/arrow-left.png") ;
}
.icon-right{
    width: 32px;
    height: 32px;
    background-image: url("../img/icon/arrow-right.png") ;
}

.icon-next {
    background-image: url(../img/icon-submit.svg);
    width: 12px;
    height: 14px;
    margin-left: 7px;
}

.icon-vison {
    background-image: url(../img/icon-vision.svg);
    width: 60px;
    height: 60px;
}

.icon-flag {
    background-image: url(../img/icon-flag.svg);
    width: 53px;
    height: 50px;
}

.icon-value {
    background-image: url(../img/icon-value.svg);
    width: 52px;
    height: 50px;
}

.icon-profit {
    background-image: url(../img/icon-profit.png);
    width: 40px;
    height: 40px;
}

.icon-architect {
    background-image: url(../img/icon-architect.png);
    width: 41px;
    height: 40px;
}

.icon-blueprint {
    background-image: url(../img/icon-blueprint.png);
    width: 40px;
    height: 40px;
}

.icon-project {
    background-image: url(../img/icon-project.png);
    width: 40px;
    height: 40px;
}

.icon-certi {
    background-image: url(../img/icon-certi.png);
    width: 37.33px;
    height: 40px;
}

.icon-insight {
    background-image: url(../img/icon-insight.png);
    width: 40px;
    height: 40px;
}

.icon-home {
    background-image: url(../img/icon-home.svg);
    width: 11.51px;
    height: 11.78px;
}
.icon-intro-al {
    background-image: url(../img/icon/intro-al.png);
    width: 25px;
    height: 8px;
}
.icon-intro-ar {
    background-image: url(../img/icon/intro-ar.png);
    width: 25px;
    height: 8px;
}

.icon-tel {
    background-image: url(../img/icon-phone.svg);
    width: 10.99px;
    height: 11px;
}

.icon-mail {
    background-image: url(../img/icon-mail.svg);
    width: 11.2px;
    height: 9.1px;
}

.intro__lists {
    .slick-next {
        top: 80%;
        right: 43%;
        width: 25px;
        height: 18px;
        background: url(../img/btn-next.png) 0 0 no-repeat;
        z-index: 9;
    }
    .slick-prev {
        top: 80%;
        left: 53%;
        width: 25px;
        height: 18px;
        background: url(../img/btn-prev.png) 0 0 no-repeat;
        z-index: 9;
    }
    .slick-next:before,
    .slick-prev:before {
        display: none;
    }
    .slick-dots {
        top: 77.5%;
        left: 0;
        padding: 0 100px;
        margin: 0;
        width: 100%;
        z-index: 8;
        text-align: left;
    }
    .slick-dots li button:before {
        color: $white;
        font-size: 6px;
        opacity: 1;
    }
    .slick-dots li button:after {
        position: absolute;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid $yellow;
    }
    .slick-dots li.slick-active button:after {
        content: "";
    }
    .slick-dots li.slick-active button:before {
        color: $yellow;
        opacity: 1;
    }
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: #fff url(../img/bgd-slide-1.png) right bottom no-repeat;
}

.inner-brand {
    width: 100%;
    .title {
        width: 100%;
        color: $primary;
        font-size: 40px;
        margin-bottom: 25px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    .slick-slider-customer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .item-slider-customer {
            flex: 0 0 10%;
            max-width: 10%;
            text-align: center;
            a {

                display: block;
                margin: 12px 0;
                img {
                    max-height: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
}

.btn-2 {
    width: 23px;
    height: 23px;
    background: url(../img/icon-circle-plus.png) right bottom no-repeat;
    background-size: contain;
    display: inline-block;
}

.blue-background{
    background: #092B44;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: url(../img/bg-services.png) left top no-repeat;
    }
}
.light-background{
    position: relative;
    background: rgb(243,244,245);
    &>*{
        position: relative;
        z-index: 2;
    }
    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/background/Vector.svg) left top no-repeat;
    }
    &:before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url(../img/background/light2.png) right bottom no-repeat;
    }
}
.page{
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    &__header{
        margin-top: 40px;
        @include tablet(){
            margin-top: 70px;
        }
    }
    &__description{
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #192E40;

    }
    @include tablet(){
        margin-top: 48px;
        min-height: calc(100vh - 48px);
        &__description{
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.page__title{
    color: $yellow;
    font-size: 32px;
    line-height: 1.2em;
    text-transform: uppercase;
    @include tablet(){
        font-size: 24px;
        line-height: 1;
    }
}
.flex--center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll {
    height: 200px;
    overflow-x: hidden;
    &.scroll-1{
        height: 370px!important;
        @include full-hd(){
            height: 420px!important;
        }
        @include tablet(){
            height: auto!important;
            overflow: unset!important;
        }
    }
    @include tablet(){
        height: auto!important;
        overflow: unset!important;
    }
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    padding: 12px;
    &::-webkit-scrollbar-track
    {
        background-color: #c4c4c4;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    &::-webkit-scrollbar
    {
        width: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: #192E40;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}
.swiper-pagination{
    display: flex;
    justify-content: center;
}
.swiper-button-next,.swiper-button-prev{
    cursor: pointer;
}
.swiper-pagination-bullet{
    margin: 10px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    position: relative;
    outline: none;
    box-shadow: none;
    &.swiper-pagination-bullet-active{
        border: 1px solid $yellow;
        &::after{
            background: $yellow;
        }
    }
    &::after{
        position: absolute;
        content: "";
        width: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        height: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #F3F5F7;
    }
}

.breadcrumb-custom{
    margin-bottom: 38px;
    .nav-tabs{
        border-bottom: 0;
    }
    .page__link{
        display: inline-block;
        margin-bottom: 0;
        border: none;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        background: none;
        padding:0 15px 0 0;
        &.active{
            color: $yellow;
            background: none;
        }
        @include mobile(){
            font-size: 18px;
        }
        &:nth-child(n + 2){
            padding-left: 15px;
            border-left: 4px solid currentColor;
        }
        @extend .page__title;
        color: #BDBDBD;
    }
}

.text--yellow{
    color: $yellow !important;
}

.grid--projects{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 176px;
    grid-gap: 8px;
    .left{
        grid-area: 1 / 1 / span 3 / span 9;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        .swiper-project-top{
            height: 100%;
        }
        .swiper-pagination{
            position: absolute;
            bottom: 15px;
            right: 15px;
            z-index: 2;
            @include mobile(){
                display: none;
            }
        }
        .swiper-slide{
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            .swiper__img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .swiper__content{
                position: absolute;
                left: 0;
                right: 0;
                z-index: 1;
                height: 198px;
                bottom: 0;
                background: linear-gradient(360deg, #192E40 -4.71%, rgba(25, 46, 64, 0) 84.11%);
                padding:8px 19px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .content__time{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0;
                    color: #F3F3F3;
                    @include tablet(){
                        display: none;
                    }
                }
                .content__title{
                    font-size: 36px;
                    line-height: 50px;
                    font-weight: 700;
                    text-transform: uppercase;

                    /* 02 */

                    color: $yellow;
                }
                .content__des{
                    font-size: 16px;
                    line-height: 34px;
                    margin-bottom: 15px;
                    font-weight: 400;

                    color: #F3F3F3;
                }
            }
        }
    }
    .right{
        grid-area: 1 / 10 / span 3 / span 3;
        .swiper-slide{
            cursor: pointer;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            &.swiper-slide-thumb-active{
                border: 2px solid $yellow;
                .swiper__content{
                    display: none;
                }
            }
            .swiper__img{
                width: 100%;
                height: 100%;
            }
            .swiper__content{
                position: absolute;
                left: 0;
                right: 0;
                z-index: 1;
                top: 11%;
                bottom: 0;
                background: linear-gradient(360deg, #192E40 -4.71%, rgba(25, 46, 64, 0) 84.11%);
                padding:8px 19px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .content__time{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0;
                    color: #F3F3F3;
                    @include tablet(){
                        display: none;
                    }
                }
                .content__title{
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;

                    /* 02 */

                    color: $yellow;
                }
                .content__des{
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 5px;
                    font-weight: 400;

                    color: #F3F3F3;
                }
            }
        }
        .swiper-project-top-thumb .swiper-wrapper{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 176px;
            grid-gap: 8px;
            transform: none !important;
            @include tablet(){
                grid-template-columns: repeat(3,1fr);
                .swiper-slide{
                    width: 100% !important;
                }
            }
            @include mobile(){
                grid-auto-rows: 120px;
            }
            @media (max-width: 476px) {
                grid-auto-rows:70px;
            }
        }
    }
    @include tablet(){
        .left {
            grid-area: 1 / 1 / span 2 / span 12;
        }
        .right{
            grid-area: 3 / 1 / span 1 / span 12;
        }
    }
    @media (max-width: 768px) {
        grid-auto-rows: 120px;
        .left{
            .swiper-slide{
                .swiper__content{
                    .content__title{
                        font-size: 18px;
                        line-height: 1.2;
                    }
                    .content__des{
                        display: block;
                        line-height: 18px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .right{
            .swiper-slide{
                .swiper__content{
                    height: 100%;
                    top: 0;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .content__title{
                        font-size: 12px;
                        line-height: 1.2;
                    }
                    .content__des{
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 476px) {
        grid-auto-rows:100px;
    }
}


.pagination {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
        display: inline;
        a {
            display: inline-block;
            text-decoration: none;
            width: 24px;
            height: 24px;
            font-size: 12px;
            line-height: 24px;
            font-weight: 300;
            text-align: center;
            border-radius: 12px;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;
            color: $home;
            margin: 0 3px;
            &.active{
                color: $yellow;
                border: 1px solid currentColor;
            }
            &:hover:not(.active) {
                background-color: #ddd;
            }
        }
    }
}
.page-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}
