@include full-hd(){
  .container{
    max-width: 1320px;
  }
}
@media (max-width: 1366px) {
  .container{
    max-width: 1128px;
  }
}
@include tablet(){
  html,body{
    width: 100%!important;
    overflow-x: hidden;
  }
}
