*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

img {
    max-width: 100%;
    display: inline-block;
}

a {
    transition: all .2s ease-in-out 0s;
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

