.detail-page {
  @extend .light-background;
  color: $home;
  padding-bottom: 70px;
  .breadcrumb {
    background: transparent;
    margin-top: 40px;
    padding: 0;
    @include tablet(){
      display: none;
    }
    .breadcrumb-item{
      font-size: 14px;
      line-height: 24px;
      color: #E1BA84;
      &.active{
        color: #C4C4C4;
      }
    }
    .breadcrumb-item + .breadcrumb-item::before {
      border: solid #C4C4C4;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      margin-bottom: 2px;
      transform: rotate(-45deg);
      vertical-align: middle;
      margin-right: 10px;
      -webkit-transform: rotate(-45deg);
      content: "";
    }
  }
  .list-tag{
    @include tablet(){
      margin-top: 5px;
    }
  }
  .detail{
    .swiper-slide{
      background-size: cover ;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      overflow: hidden;
    }
    .gallery-top {
      margin-top: 24px;
      height: 560px;
      width: 100%;
      position: relative;
      @media (max-width: 1200px) {
        height: 320px;
      }
      @media (max-width: 576px){
        margin-top: 5px;
        height: 163px;
        .swiper-button-white{
          display: none;
        }
      }
      .swiper-button-white{
        top: 50%;
        outline: none;
        transform: translateY(-50%);
        color: $white;
        position: absolute;
        z-index: 1;
        &.swiper-button-disabled{
          opacity: .5;
        }
        &.swiper-button-next{
          right: 20px;
        }
        &.swiper-button-prev{
          left: 20px;
        }
      }
    }

    .gallery-thumbs {
      .swiper-slide{
        height: 169px;
      }
      box-sizing: border-box;
      padding: 24px 0;
      padding-bottom: 100px;
      @include tablet(){
        .swiper-slide{
          height: 104px;
        }
        padding: 15px 0;
        padding-bottom: 40px;
        .swiper-navigation svg{
          width: 30px;
          height: 30px;
        }
      }
      .swiper-navigation{
        display: flex;
        margin-top: 20px;
        justify-content: flex-end;
      }
      .swiper-button-white{
        color: $home;
        margin-left: 20px;
        display: inline-block;
        &.swiper-button-disabled{
          opacity: .5;
        }
        &:hover{
          color: $yellow;
        }
      }
    }
    &__title{
      font-weight: bold;
      font-size: 64px;
      line-height: 100%;
      text-transform: uppercase;
      color: #E1BA84;
      margin-bottom: 12px;
      &-small{
        font-size: 36px;
      }
      @include laptop(){
        font-size: 32px;
      }
      @include tablet(){
        margin-top: 70px;
      }
      @include mobile(){
        text-align: center;
        font-size: 24px;
        line-height: 28px;
      }
    }
    &__tag{
      color: $home;
      line-height: 1;
      text-align: center;
      /* xam xanh */
      background: #E5E5E5;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      padding:7px 20px;
      font-size: 14px;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
      @include laptop(){
        font-size: 11px;
      }
      @include tablet(){
        padding: 4px 15px;
        background: $white;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        font-size: 8px;
      }
    }
    &__share{
      padding-left: 15px;
      list-style: none;
      display: flex;
      margin-bottom: 0;
      li {

        margin-left: 15px;
        a {
          width: 30px;
          height: 30px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background: $primary;
          color: #fff;
          border-radius: 50%;
          @include tablet(){
            width: 20px;
            height: 20px;
            padding: 3px;
            font-size: 12px;
          }
        }
        &:hover a{
          background: $yellow;
        }
        @include tablet(){
          &:last-child{
            margin-top: 4px;
          }
        }
        .icon-share{
          width: 15px;
          height: 15px;
          background: url("../img/detail/share.svg") center/contain no-repeat;
        }
      }
    }
    .text-md{
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */

      text-transform: uppercase;

      /* Home 4 Colors */

      color: #192E40;
    }
    .text-li{
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */

      @include tablet(){
        margin-bottom: 14px;
        font-size: 14px;
      }
      /* Gray 3 */

      color: #828282;
    }
    &__list{
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li{
        margin-bottom: 3px;
        font-size: 16px;
        line-height: 24px;
        color: $home;
        img{
          margin-right: 10px;
        }
        span{
          padding-left: 2px;
        }
      }
    }
    &__bottom{
      margin-top: 25px;
    }
    &__content{
      margin-bottom: 80px;
      img{
        width: 100%;
        max-height: 343px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        margin-bottom: 1rem;
      }
      .grid-image{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 265px;
        grid-gap: 21px;
        margin-bottom: 1rem;
        @include mobile(){
          grid-template-columns: 1fr;
        }
        img{
          height: 100%;
        }
      }
      .btn-1{
        margin-top: 50px;
      }
    }
    .box-sidebar{
      margin-bottom: 35px;
      .tt{
        margin-bottom: 21px;}
      .sidebar-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $yellow;
      }
      .view-more{
        font-weight: 300;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 32px;
        color: #E1BA84;
        svg{
          margin-bottom: 3px;
        }

      }
      .detail__card{
        display: flex;
        margin-bottom: 26px;

        img{
          width: 152px;
          height: 152px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          margin-right: 24px;
        }
        &:hover{
          .title{
            color: $yellow;
          }
        }
        .title{
          margin-top: 1rem;
          font-size: 20px;
          line-height: 23px;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        .content{
          font-size: 14px;
          line-height: 24px;
        }
        @include mobile(){
          img{
            width: 106px;
            height: 106px;
          }
          .title{
            margin-top: 5px;
          }
          .content{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}
