#wrapper {
  margin-top: 100px!important;
  display: flex;
  @include tablet() {
    margin: 0!important;
    display: block;
  }

  .section {
    flex: 0 0 100vw;
    height: calc(100vh - 100px);
    max-width: 100% !important;
    @include tablet() {
      height: unset;
    }

    &__title {
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      text-transform: uppercase;
      display: none;
      margin-top: 36px;
      @include tablet() {
        display: block;
      }
      /* Home 4 Colors */

      color: #192E40;
    }

    &.intro {
      .intro__lists {
        .intro__item {
          display: flex;

          .inner-img {
            width: 60%;
            height: calc(100vh - 100px);
            position: relative;

            .swiper-pagination {
              position: absolute;
              bottom: 50px;
              left: 100px;
              z-index: 2;
              @include tablet() {
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
              }
            }

            .swiper-navigation {
              position: absolute;
              bottom: 50px;
              right: 100px;
              z-index: 2;
              display: flex;
              align-items: center;
              height: 30px;

              & > div {
                margin-left: 20px;
              }

              .swiper-button-disabled {
                visibility: hidden;
              }

              @include tablet() {
                display: none;
                transform: translateX(-50%);
              }
            }

            img {
              width: 100% !important;
              height: 100%;
              object-fit: cover;
            }
          }

          .inner-detail {
            background: #fff url(../img/bgd-slide-1.png) bottom right no-repeat;
            color: $primary;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            .box-center {
              padding: 0 50px;
              position: relative;
              z-index: 1;
              width: 100%;
            }

            h1,
            h2 {
              font-size: 56px;
              text-transform: uppercase;
              font-weight: 700;
              margin-bottom: 25px;
            }

            .bold {
              font-size: 21px;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
      }

      @include tablet() {
        margin-top: 48px;
        height: unset;
      }

      .intro__lists {
        margin-bottom: 0 !important;

        .intro__item {
          @include tablet() {
            flex-direction: column;
            .inner-img, .inner-detail {
              width: 100%;
            }
            .inner-img {
              height: calc(390px - 48px);
            }
            .inner-detail {
              text-align: center;

              .box-center {
                padding: 30px 15px 50px 15px;
              }

              h1 {
                font-size: 36px;
              }
            }
          }
          @include mobile() {
            .inner-img {
              height: calc(330px - 48px);
            }
          }
        }
      }

    }

    &.personnel {
      background: $primary;
      position: relative;

      .container {
        position: relative;
        z-index: 2;
      }

      .btn-1 {
        margin-top: 25px;
        margin-bottom: 36px;
        border: 1px solid $yellow;
        color: $white;
        font-weight: 400;
      }

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url(../img/bgd-slide-2-l.png) left top/contain no-repeat;
      }

      &:before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url(../img/bgd-slide-2-r.png) right bottom/contain no-repeat;
      }

      .swiper-personnel {
        padding: 50px 0;
        margin: 15px 0;

        @include tablet() {
          padding: 35px 0;
        }

        .swiper-pagination {
          margin-top: 45px;
        }
      }
      @media (max-width: 991px) {
        .swiper-personnel {
          padding: 0 120px;
          max-width: 600px;
        }
      }
      @media (max-width: 457px) {
        .swiper-personnel {
          padding: 0 50px;
        }
      }

      .personnel__lists {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include tablet() {
          justify-content: unset;
          align-items: unset;
        }
        .personnel__item {
          max-width: 100% ;
          width: 264px;
          height: 380px;
          @include tablet(){
            width: 100%;
            height: 420px;
          }
          @include full-hd(){
            width: 300px;
            height: 430px;
          }
          z-index: 2;
          border-radius: 15px;
          overflow: hidden;
          position: relative;
          transition: all .35s ease-in 0s;
          .inner-img {
            position: relative;
            height: 100%;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              filter: grayscale(100%);
              transition: all .35s ease-in 0s;
            }
          }
          .inner-detail {
            transition: all .35s ease-in 0s;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -110px;
            padding: 25px;
            text-align: center;
            font-size: 14px;
            color: $white;
            background: linear-gradient(to bottom, rgba(203, 235, 255, 0) 0%, rgba(0, 1, 17, 1) 100%);
            .name-member {
              font-size: 18px;
              font-weight: 700;
              font-family: Roboto,sans-serif;
              color: $yellow;
              margin-bottom: 10px;
            }
            p {
              padding: 0 20px 20px 20px;
              margin-bottom: 0;
              height: 62px;
              overflow: hidden;
            }
          }
          @include tablet(){
            &.swiper-slide-active{
              z-index: 3;
              .inner-detail {
                bottom: 0;
                p {
                  display: block;
                }
                .btn-2 {
                  display: inline-block;
                }
              }
              .inner-img {
                img {
                  filter: grayscale(0);
                }
              }
            }
          }
          @media (min-width: 992px) {
            &:hover {
              transform: scale(1.2);
              .inner-detail {
                bottom: 0;
                p {
                  display: block;
                }
                .btn-2 {
                  display: inline-block;
                }
              }
              .inner-img {
                img {
                  filter: grayscale(0);
                }
              }
            }
          }
        }
      }
    }

    &.vision {
      position: relative;

      .swiper-vision-thumb {
        position: absolute;
        top: 45px;
        width: 160px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        display: none;
        @include tablet() {
          display: block;
        }

        .swiper-slide {
          display: flex;
          justify-content: center;

          svg {
            color: $white;
          }
        }

        .swiper-slide-thumb-active {
          svg {
            color: $yellow;
          }
        }
      }

      .swiper-pagination {
        position: absolute;
        left: 50%;
        bottom: 30px;
        z-index: 2;
        transform: translateX(-50%);
        display: none;
        @include tablet() {
          display: flex;
        }

      }

      .vision__lists {
        display: flex;

        .vision__item {
          width: 33.333%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: calc(100vh - 100px);
          @include tablet() {
            height: 640px;
          }

          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $primary;
            opacity: 0.6;
            z-index: 1;
          }

          &:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 290px;
            height: 8px;
            background: $yellow;
            margin-left: -145px;
            z-index: 2;
            transition: all 0.3s ease-in-out 0s;
          }

          &:hover {
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 8px;
              background: $yellow;
              margin-left: 0;
              z-index: 2;
            }
          }

          .inner-img {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .inner-detail {
            position: relative;
            z-index: 2;
            max-width: 290px;
            width: 100%;
            text-align: center;
            color: #fff;

            .name-vision {
              font-size: 32px;
              color: $yellow;
              font-weight: 700;
              font-family: 'Montserrat', sans-serif;
              margin-bottom: 16px;
              margin-top: 20px;
              text-transform: uppercase;
            }

            p {
              min-height: 170px;
            }
          }
        }
      }
    }

    &.services {
      .swiper-services {
        width: 100%;
        margin: 0 -15px;
      }

      .swiper-pagination {
        margin-bottom: 15px;
        display: none;
        @include tablet() {
          display: flex;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
          background: $yellow;
        }

        .swiper-pagination-bullet::after {
          background: $home;
        }
      }

      .swiper-services-thumb {
        margin: 15px auto;
        max-width: 350px;
        .swiper-wrapper {
          justify-content: space-between;
        }

        .swiper-slide {
          width: 32px !important;

          &.swiper-slide-thumb-active {
            svg {
              color: $yellow;
            }
          }
        }
      }

      .services__lists {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        @include tablet() {
          width: unset;
          flex-wrap: unset;
          justify-content: unset;
        }

        .services__item {
          width: 33.333%;
          padding: 0 12px;
          @include tablet() {
            padding: 0;
            .inner {
              padding-bottom: 128%;
            }
            &.swiper-slide-active {
              .inner {
                &:after {
                  bottom: 0;
                }
              }

              .inner-detail {
                margin-top: 0 !important;
                top: 50% !important;
                transform: translateY(-50%);

                i {
                  opacity: 1 !important;
                }
              }

              &:after {
                bottom: 0;
              }
            }
          }

          .inner {
            position: relative;
            height: 220px;
            margin: 12px 0;
            overflow: hidden;
            border-radius: 10px;

            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 100%;
              width: 100%;
              height: 100%;
              background: $primary;
              opacity: 0.6;
              z-index: 1;
              transition: all .35s ease-in 0s;
            }

            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(360deg, #192E40 -12.65%, rgba(25, 46, 64, 0.401042) 25.81%, rgba(25, 46, 64, 0) 51.14%);
              z-index: 1;
            }

            .inner-img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .inner-detail {
              position: absolute;
              z-index: 2;
              padding: 0 15px;
              width: 100%;
              text-align: center;
              color: #fff;
              left: 0;
              top: 100%;
              margin-top: -97px;
              // transform: translateY(-50%);
              transition: all .35s ease-in 0s;

              .name-service {
                font-size: 24px;
                color: $yellow;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                margin: 10px 0 10px 0;
                text-transform: uppercase;
                transition: all .35s ease-in 0s;
              }

              p {
                font-size: 13.5px;
                height: 40px;
                overflow: hidden;
              }

              i {
                opacity: 0;
                transition: all .35s ease-in 0s;
              }
            }

            &:hover {
              .inner-detail {
                margin-top: 0;
                top: 50%;
                transform: translateY(-50%);

                i {
                  opacity: 1;
                }
              }

              &:after {
                bottom: 0;
              }
            }
          }
        }
      }
    }

    &.brand {
      overflow: hidden;
      position: relative;
      background: #F3F5F7;;

      .container {
        position: relative;
        z-index: 2;
      }

      @media (min-width: 991px) {
        .inner-brand .title {
          margin-top: 32px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
      @include mobile() {
        .inner-brand{
          margin-top: 32px;
        }
        .inner-brand .title {
          font-size: 28px;
        }
      }

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url(../img/bgd-slide-3-l.png) left bottom no-repeat;
      }

      &:before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url(../img/bgd-slide-4-l.png) right top no-repeat;
      }

      .swiper-brand, .swiper-customer {
        .swiper-slide {
          padding: 0 10px;
          @include tablet() {
            padding: 0 5px;
          }
          width: 10%;
        }

        .swiper-pagination {
          display: none;
          margin-top: 15px;
          margin-bottom: 32px;

          .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
            background: $yellow;
          }

          .swiper-pagination-bullet::after {
            background: $home;
          }

          @include tablet() {
            display: flex;
          }
        }

        .item-brand {
          a {
            display: block;
            height: 40px;
            margin-bottom: 10px;
          }
        }
      }
    }

    &.contact {
      background: url(../img/bgd--slide-4.jpg) center bottom no-repeat;
      background-size: cover;

      .frm-right {
        padding: 25px 30px 35px 30px;
        margin: 25px 0;
        @include mobile() {
          padding: 25px 10px;
          font-size: 14px;
          margin: 75px 0 25px;
        }
        @include tablet() {
          display: block !important;
          justify-content: center;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          .map {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            max-width: 100%;
            margin-right: 0 !important;

            iframe {
              width: 100%;
            }
          }
        }

        .map {
          margin-right: 25px;
        }

        border-radius: 20px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;

        .title {
          font-size: 32px;
          font-weight: 500;
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;

          &.address {
            padding-left: 23px;
            position: relative;
            font-family: 'Montserrat', sans-serif;
            line-height: 1.6;

            a {
              color: $white;
            }

            i {
              position: absolute;
              left: 0;
              top: 5px;
            }

            strong {
              font-family: 'Montserrat', sans-serif;
            }
          }
        }

        .frm-general {
          .bold {
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 5px;
            font-weight: 600;
          }

          .text-1 {
            border: 0;
            border-bottom: 1px solid $white;
            background: none;
            font-family: 'Montserrat', sans-serif;
            color: $white;
            margin-bottom: 15px;
            width: 100%;

            &:focus {
              border: 0;
              border-bottom: 1px solid $white;
              outline: none;
            }
          }

          textarea.text-1 {
            position: relative;
            resize: none;

            &:after {
              position: absolute;
              left: 0;
              top: 10px;
              content: "";
              height: 1px;
              width: 100%;
              background: $white;
            }
          }

          .btn-1 {
            border-color: $white;
            color: $white;
          }
        }
      }
    }
  }

}
