.portfolio-page{
  @extend .light-background;
  padding-bottom: 70px;
  @include mobile(){
    &.no-bt::after{
      content: unset;
    }
  }
  .project{
    position: relative;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;

    }
    &__content{
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      top: 10.33%;
      bottom: 0;
      background: linear-gradient(360deg, #192E40 -4.71%, rgba(25, 46, 64, 0) 84.11%);
      border-radius: 8px;
      padding:8px 19px;
    }
    &__title{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      text-transform: uppercase;

      /* 02 */

      color: #E1BA84;
    }
    &__des{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 175% */


      /* F3F3F3 */

      color: #F3F3F3;
    }
    .more{
      cursor: pointer;
    }
  }
  .portfolio__top{
    margin-bottom: 20px;
  }
  .portfolio__mid{
    @include mobile(){
      .page__header{
        margin-top: 15px;
      }
    }
    .form--search{
      border-radius: 40px;
      position: relative;
      height: 30px;
      width: 150px;
      margin-right: 5px;
      .btn-search{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color:transparent ;
      }
    }
    .frm-right{
      flex-grow: 1;
      .form--search{
        position: relative;
        input{
          height: 20px;
          border-radius: 20px;
          border: 1px solid #092B44;
          width: 20px;
          font-size: 11px;
          padding: 0;
          line-height: 20px;
          position: absolute;
          right: 0;
          transition: width 0.3s linear;
          &.active{
            width: 140px;
            padding: 0 25px 0 10px;
            transition: width 0.3s linear;
          }
          &:focus,&:active{
            outline: none;
            box-shadow: none;
          }
        }
      }
      @include tablet(){
        flex-direction: column;
        .form--search{
          background: $white;
          border-radius: 40px;
          position: relative;
          width: 100%!important;
          height: 32px;
          margin-bottom: 15px;
          input{
            font-size: 15px;
            display: block;
            outline: none;
            position: relative;
            width: 100% !important;
            padding: 5px 25px 5px 25px;
            height: 100%;
            border: none;
            &:focus,&:active{
              outline: none;
              box-shadow: none;
            }
            border-radius: 40px;
          }
          .btn-search{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            transform: translateY(-50%);
            background-color:transparent ;
          }
        }
      }
    }
    .list--filter{
      max-width: 100%;
      .d-flex{
        flex-wrap: wrap;
        @include mobile(){
          justify-content: center;
        }
      }
      .item{
        line-height: 1;
        text-align: center;
        /* xam xanh */
        padding:7px 20px;
        font-size: 11px;
        &:hover,&.active{
          background-color: $yellow;
        }
        /* Home 4 Colors */

        color: #192E40;
        background: #D3DDE3;
        border-radius: 4px;
        white-space: nowrap;
        margin: 5px 8px;
      }
      .dropdown--project{
        .dropdown-menu{
          padding: 5px;
          border-radius: 2px;
        }
        .dropdown__item{
          min-width: 40px;
          min-height: 18px;
          padding: 0 10px;
          margin-right: 2px;
          margin-bottom: 2px;
          font-size: 12px;
          color: $home;
          line-height: 22px;
        }
      }
    }
    .form--search{
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-search{
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        display: inline-block;
        border: 0;
        padding: 0;
        right: -1px;
        border-radius: 50%;
        background: #D3DDE3 url(../img/projects/search.png) center no-repeat;
      }
    }
  }
  .portfolio__bottom{
    .project{
      @include mobile(){
        height: 140px;
      }
    }
    .project__content{
      padding: 22px   29px;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .project__des {
        height: 0;
        overflow: hidden;
        transition:.3s ease-in;
      }
      @include mobile(){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .project__des{
          height: auto!important;
          .more .read-more{
            margin-right: 0;
          }
          .more .text{
            display: none;
          }
        }
        .info-list{
          display: none;
        }
      }
    }
    .project:hover{
      .project__des {
        height: 160px;
      }
    }
    .info-list{
      margin: 15px 0;
    }
    .more {
      color: $yellow;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 12px;
      .read-more {
        width: 24px;
        margin-right: 10px;
        height: 24px;
        background: url("../img/projects/readmore.svg") 100% 100% no-repeat;
      }
    }
  }
  .map--projects{
    background: $white;
    @include tablet(){
      background: #F3F5F7;
    }
    @include mobile(){
      padding-top: 25px;
    }
    .list-left{
      display: flex;
      flex-direction: column;
      padding: 0 70px;
      @include tablet(){
        padding-left: 0;
      }
      @include mobile(){
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0;
        .item{
          flex: 0 0 50%;
          margin-bottom: 15px;
          .des{
            color: #E1BA84!important;
          }
        }
      }
      justify-content: space-around;
      .item{
        text-align: center;
        max-width: 150px;
        &:hover{
          .des{
            color: #E1BA84;
          }
        }
        img{
          width: 35px;
          height: 35px;
          margin-bottom: 10px;
        }
        .des{
          color: #5E788F;
          span{
            font-size: 36px;
            line-height: 100%;
            /* identical to box height, or 36px */
            font-weight: 700;
            text-align: center;

            /* 02 */
          }
          small{
            font-weight: 700;
            font-size: 18px;
          }
        }
        .info{
          font-size: 12px;
          line-height: 28px;
          font-weight: 300;
          text-transform: uppercase;
          @include mobile(){
            line-height: 16px;
          }
        }
      }
    }
    .map{
      img{
        height: 540px;
      }
      @include tablet(){
        text-align: center;
        margin-top: 15px;
      }
    }
    .map-info{
      margin-top: 70px;
      @include tablet(){
        text-align: center;
      }
      img{
        width: 90.67px;
        height: 76px;
        margin-bottom: 40px;
      }
      p{
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        /* or 175% */
        margin-bottom: 40px;
        letter-spacing: 0.015em;

        color: #5E788F;
      }
    }
  }
}
