.team-page {
  background: $primary;
  position: relative;
  padding-bottom: 70px;
  &>*{
    position: relative;
    z-index: 2;
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bgd-slide-2-l.png) left top no-repeat;
  }
  &:before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bgd-slide-2-r.png) right bottom no-repeat;
  }
  &-page{
    @extend .blue-background
  }
  .team--lists{
    @media (min-width: 991px) and (max-width: 1200px){
      margin: 0 40px;
    }
  }
  .team__founder{
    padding-bottom: 40px;
    @media (max-width: 991px) {
      .swiper-personnel {
        max-width: 600px;
        padding: 0 120px;
      }
    }
    @media (max-width: 457px) {
      .swiper-personnel {
        padding: 0 50px;
      }
    }
  }
  .swiper-personnel{
    padding: 50px 0;
    @include tablet(){
      padding:35px 0 0 0 ;
    }
    .swiper-pagination{
      margin-top: 45px;
    }
  }
  .personnel__lists.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include tablet() {
      justify-content: unset;
      align-items: unset;
    }
    .personnel__item {
      max-width: 100% ;
      width: 264px;
      height: 380px;
      @include tablet(){
        width: 100%;
        height: 420px;
      }
      @include full-hd(){
        width: 300px;
        height: 430px;
      }
      z-index: 2;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      transition: all .35s ease-in 0s;
      .inner-img {
        position: relative;
        height: 100%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          filter: grayscale(100%);
          transition: all .35s ease-in 0s;
        }
      }
      .inner-detail {
        transition: all .35s ease-in 0s;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -110px;
        padding: 25px;
        text-align: center;
        font-size: 14px;
        color: $white;
        background: linear-gradient(to bottom, rgba(203, 235, 255, 0) 0%, rgba(0, 1, 17, 1) 100%);
        .name-member {
          font-size: 18px;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          color: $yellow;
          margin-bottom: 10px;
        }
        p {
          padding: 0 20px 20px 20px;
          margin-bottom: 0;
          height: 62px;
          overflow: hidden;
        }
      }
      @include tablet(){
        &.swiper-slide-active{
          z-index: 3;
          .inner-detail {
            bottom: 0;
            p {
              display: block;
            }
            .btn-2 {
              display: inline-block;
            }
          }
          .inner-img {
            img {
              filter: grayscale(0);
            }
          }
        }
      }
      @media (min-width: 992px) {
        &:hover {
          transform: scale(1.2);
          .inner-detail {
            bottom: 0;
            p {
              display: block;
            }
            .btn-2 {
              display: inline-block;
            }
          }
          .inner-img {
            img {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
  .personnel__lists.bottom {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: unset;
    @include tablet() {
      justify-content: space-between;
    }
    .personnel__item {
      max-width: 100% ;
      z-index: 2;
      overflow: hidden;
      position: relative;
      transition: all .35s ease-in 0s;
      width: unset;
      height: unset;
      margin-bottom: 20px ;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      .inner-img {
        position: relative;
        padding-bottom: 144%;
        height: 0;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          filter: grayscale(100%);
          transition: all .35s ease-in 0s;
        }
      }
      .inner-detail {
        transition: all .35s ease-in 0s;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -110px;
        padding: 25px;
        text-align: center;
        font-size: 14px;
        color: $white;
        background: linear-gradient(to bottom, rgba(203, 235, 255, 0) 0%, rgba(0, 1, 17, 1) 100%);
        .name-member {
          font-size: 18px;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          color: $yellow;
          margin-bottom: 10px;
        }
        p {
          padding: 0 20px 20px 20px;
          margin-bottom: 0;
          height: 62px;
          overflow: hidden;
        }
      }
      @include tablet(){
        &.swiper-slide-active{
          transform: scale(1.2);
          z-index: 3;
          .inner-detail {
            bottom: 0;
            p {
              display: block;
            }
            .btn-2 {
              display: inline-block;
            }
          }
          .inner-img {
            img {
              filter: grayscale(0);
            }
          }
        }
      }
      @media (min-width: 992px) {
        &:hover {
          transform: scale(1.2);
          .inner-detail {
            bottom: 0;
            p {
              display: block;
            }
            .btn-2 {
              display: inline-block;
            }
          }
          .inner-img {
            img {
              filter: grayscale(0);
            }
          }
        }
      }
      .inner-detail{
        padding: 10px;
        .name-member{
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
        }
        p{
          margin: 5px 0;
          font-size: 13px;
          height: initial;
          padding: 0;
          color: #F3F5F7;
        }
      }
      &:hover{
        transform: scale(1);
        .inner-detail {
          bottom: 0;
          p {
            display: block;
          }
          .btn-2 {
            display: inline-block;
          }
        }
        .inner-img {
          img {
            filter: grayscale(0);
          }
        }
      }
      @include tablet(){
        transform: scale(1);
        .inner-detail {
          bottom: 0;
          p {
            display: block;
          }
          .btn-2 {
            display: inline-block;
          }
        }
        .inner-img {
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
  .swiper-button-prev,.swiper-button-next{
    position: absolute;
    top: 50%;
    transform: translateY(-125%);
    left: -50px;
    outline: none;
    box-shadow: none;
    z-index: 2;
    @include tablet(){
      display: none;
      left: 0;
    }
    &.swiper-button-disabled{
      opacity: .5;
    }
  }
  .swiper-button-next{
    left: unset;
    right: -50px;
    @include tablet(){
      right: 0;
    }
  }
}
