.card {
  background: transparent;
  border: none;
  $color-text: #192E40;
  color: $color-text;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include tablet() {
    display: block;
    .card__img {
      text-align: center;
    }
  }

  .card__img {
    img {
      width: 300px;
      height: 365px;
      max-width: 300px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      @include full-hd(){
        width: 370px;
        max-width: 370px;
        height: 452px;
      }
    }
  }

  .card__right {
    display: flex;
    font-size: 14px;
    align-items: center;
    width: 510px;

    .card__content {
      width: 100%;
      position: relative;

      .scroll {
        padding-left: 0;
        @include full-hd(){
          height: 252px;
        }
        @include tablet() {
          height: 180px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 44px solid $yellow;
        border-right: 44px solid transparent;
      }

      .nav-tabs {
        background: none;
        border: none;
        overflow-x: auto;
        overflow-y: hidden;
        height: 40px;
        flex-wrap: nowrap;

        .nav-item {
          &:nth-child(1) {
            .nav-link {
              padding-left: 0;
            }
          }
        }

        .nav-link {
          white-space: nowrap;
          outline: none;
          background: none;
          border: none;
          border-bottom: 1px solid #E5E5E5;
          font-size: 14px;
          line-height: 22px;
          color: $color-text;
          font-weight: 700;

          &.active {
            color: $yellow;
            border-bottom: 1px solid currentColor;
          }
        }
      }

      padding: 30px 20px;
      height: 90%;
      left: -20px;
      -webkit-border-radius: 36px;
      -moz-border-radius: 36px;
      border-radius: 36px;
      background: #FFFAF3;
    }

    @include tablet() {
      width: 100%;
      margin-top: 50px;
      .card__content {
        left: 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      }
    }
  }

  &--profile {

  }

  &--founder {
    width: 100%;
    .card__img {
      position: relative;

      img {
        width: 300px;
        max-width: 300px;
        height: 412px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        @include full-hd(){
          width: 370px;
          max-width: 370px;
          height: 482px;
        }
      }

      &-info {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 55px 15px 15px 15px;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        @include tablet() {
          position: relative;
          padding: 15px;
          background: none;
        }

        .profile__name {
          color: $yellow;
        }

        .profile__des {
          color: #FFFAF3;
          @include tablet() {
            color: $color-text;
            margin-bottom: 0;
          }
        }
      }
    }

    .card__right {
      margin-top: 0;
      width: 100%;

      .card__content {
        left: 0;
        align-items: self-start;
        height: unset;
        display: flex;
        @include tablet() {
          display: block;
        }
      }
    }

    &__info {
      padding: 0 24px;
      @include tablet() {
        padding: 0;
      }
    }
  }
}
